.content {
    background-color: white;
    opacity: 0.95;
    padding: 15px 0;
}

.details {
    margin: 0 auto;
    max-width: 40rem;
    text-align: center;
}

.details img {
    width: 100%;
    height: 100%;
}